.about__text {
    font-size: 150px;
    margin: 0.6rem 0 5.5rem 0;
}

.wrapper__container {
    padding: 0.1rem 0 0.1rem 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.d-flex.flex-row.justify-content-end {
    position: relative;
    /* Makes the parent a positioned element */
}

.white__background {
    width: 100%;
    height: 100%;
    position: absolute;
    /* Overlay the element */
    right: 0;
    /* Align to the right side */
    z-index: 1;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 36%, rgba(255, 255, 255, 0.8) 54%, rgba(255, 255, 255, 0) 73%);
}

.image>img {
    width: 100%;
    position: relative;
    z-index: 0;
    /* Ensures image is behind the overlay */
}

.group__text {
    padding: 10rem 0 0 7rem;
    max-width: 830px;
}

.company__text {
    font-size: 35px;
    font-weight: 600;
}

.detail__text {
    font-size: 25px;
    font-weight: 300;
}

.red__block {
    background: linear-gradient(0deg, #650E14 32%, #A7292A 100%);
    width: 100%;
    height: 475px;
}

p {
    margin-bottom: 0 !important;
}

.red__text {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: white;
    padding-top: 4rem !important;
}

.bg__white {
    height: 263px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 3rem
}

.first__vector__text,
.second__vector__text,
.third__vector__text,
.fourth__vector__text {
    text-align: center;
    padding-top: 0.5rem;
    font-size: 20px;
    font-weight: 300;
}

.fourth__vector__text {
    margin-top: 0.8rem;
}

.drone__center__title__text {
    font-weight: 600;
    font-size: 30px;
    color: #791118;
}
.padding__block {
    padding: 3rem;
}
.drone__center__text {
    font-weight: 300;
    font-size: 20px;
}
.drone__center__image {
    width: 100%;
}
.footer__text {
    text-align: center;
    font-size: 32px;
}

.footer__block {
    width: 100%;
    padding: 1.5rem;
    margin-top: 8rem;
    filter: drop-shadow(0px -3px 4px rgba(0, 0, 0, 0.25));
    background-color: white;
    ;
}

.image__width {
    width: 100%;
}

.read-more {
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    display: none;
}
.logo__2__width {
    width: 150px;
}
.footer__block {
    width: 100%;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-top: 8rem;
    box-shadow: 0 -3px 4px rgba(0,0,0,0.25);
    background: linear-gradient(180deg, #400606 0%, #A60F0F 100%);
    height: auto;
}
.social__text {
    color: white;
    font-size: 14px;
    margin-top: 1.8rem;
}
.img__dark {
    width: 100px;
    margin-top: 2rem;
}
.text__white {
    color: white;
    margin-top: 1rem;
    font-size: 16px;
}
.white-title {
    font-size: 20px;
    margin-top: 2rem;
    color: white;
}
p a ,p a:hover{
    color: white;
}
.text__left {
    text-align: left;
}
.margin__top {
    margin-top: 3.7rem;
}
.icon__align {
    margin-top: 1rem;
    margin-right: 1rem;
}
@media screen and (max-width: 1524px) {

    .drone__center__title__text {
        font-size: 26px;
    }

    .drone__center__text {
        font-size: 16px;
    }


}

@media screen and (max-width: 1362px) {

    .drone__center__title__text {
        font-size: 22px;
    }

    .drone__center__text {
        font-size: 14px;
    }



    .company__text {
        font-size: 32px;
    }

    .detail__text {
        font-size: 22px;
    }

    .group__text {
        max-width: 700px;
    }

    .footer__text {
        font-size: 29px;
    }
}

@media screen and (max-width: 1258px) {
    .drone__center__title__text {
        font-size: 19px;
    }

    .drone__center__text {
        font-size: 12px;
    }


    .company__text {
        font-size: 32px;
    }

    .detail__text {
        font-size: 22px;
    }

    .group__text {
        max-width: 700px;
        padding: 8rem 0 0 4rem;
    }

    .first__vector__text,
    .second__vector__text,
    .third__vector__text,
    .fourth__vector__text {
        font-size: 17px;
    }
    .footer__text {
        font-size: 27px;
    }
}

@media screen and (max-width: 1150px) {

    .company__text {
        font-size: 29px;
    }

    .detail__text {
        font-size: 20px;
    }

    .group__text {
        max-width: 650px;
    }

    .first__vector__text,
    .second__vector__text,
    .third__vector__text,
    .fourth__vector__text {
        font-size: 17px;
    }

    .red__text {
        font-size: 27px;
    }
    .footer__text {
        font-size: 25px;
    }
}

@media screen and (max-width: 1026px) {
    .about__text {
        font-size: 120px;
    }

    .company__text {
        font-size: 27px;
    }

    .detail__text {
        font-size: 18px;
    }

    .group__text {
        max-width: 550px;
        padding: 6rem 0 0 3rem;
    }

    .first__vector__text,
    .second__vector__text,
    .third__vector__text,
    .fourth__vector__text {
        font-size: 17px;
    }

    .red__text {
        font-size: 27px;
    }
    .footer__text {
        font-size: 23px;
    }

}

@media screen and (max-width: 991px) {
    .red__block {
        height: 100%;
    }

    .col-md-6 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .col-md-12 {
        padding: 1rem !important;
    }
    .about__text {
        font-size: 90px;
    }
    .group__text {
        padding: 4rem 0 0 2rem;
        max-width: 500px;
    }
    .deatil__text {
        font-size: 16px;
    }
    .company__text {
        font-size: 25px;
    }
    .footer__text {
        font-size: 21px;
    }
    .first__vector__text, .second__vector__text, .third__vector__text {
        margin-top: 2rem;
    }
    .fourth__vector__text {
        margin-top: 2.7rem;
    }
}    
@media screen and (max-width: 782px) {
    .group__text {
        padding: 2rem 0 0 2rem;
        max-width: 500px;
    }
}
@media screen and (max-width: 767px) {
    .col-sm-6 {
        margin-top: 2rem;
    }
}
@media screen and (max-width: 738px) {
    .group__text {
        max-width: 400px;
    }
    .detail__text {
        font-size: 14px;
    }
    .company__text {
        font-size: 22px;
    }
    .footer__text {
        font-size: 19px;
    }
    .about__text {
        font-size: 70px;
        margin: 0.6rem 0 2.5rem 0;
    }
    .red__text {
        font-size: 23px;
    }
}
@media screen and (max-width: 600px) {
    .detail__text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 8;
        line-clamp: 8;
        max-height: calc(1.5em * 8); 
        line-height: 1.5em; 
    }
    .group__text {
        max-width: 300px;
    }
    .company__text {
        font-size: 22px;
    }
    .read-more {
        display: block;
    }
}
@media screen and (max-width: 550px) {
    .red__text {
        font-size: 20px;
    }
    .logo__2__width {
        width: 100px;
    }
}
@media screen and (max-width: 500px) {

    .logo__2__width {
        width: 80px;
    }
    .about__text {
        font-size: 40px;
    }
    .detail__text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        max-height: calc(1.5em * 5); 
        line-height: 1.5em; 
    }
    .group__text {
        width: 250px;
    }
    .company__text {
        font-size: 16px;
    }
    .red__text {
        font-size: 16px;
    }
    .bg__white {
        height: 220px;
    }
}
@media screen and (max-width: 360px) {
    .group__text {
        padding: 0.9rem 0 0 0.5rem;
    }
    .red__text {
        font-size: 15px;
    }
    .first__vector__text,
    .second__vector__text,
    .third__vector__text,
    .fourth__vector__text {
        font-size: 14px;
    }
    .footer__text {
        font-size: 16px;
    }
}