.activities__page {
    margin-top: 3rem;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.border__bottom__line {
    display: inline-block;
    border-bottom: 4px solid #791118;
    padding-bottom: 2px;
}

.activities__page a,
.activities__page a:hover {
    color: black;
}

section[hidden] {
    display: none;
}

.padding__align__image {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.white__bg {
    box-shadow: 2px 5px 14px rgba(0, 0, 0, 0.25);
    border-radius: 0 30px 30px 0;
    padding: 4rem 2rem 2rem 2rem;
}

.gutter {
    --bs-gutter-x: 0 !important;
}

.activities__image__1 {
    border-radius: 30px 0 0 30px;
    box-shadow: -1px 5px 14px rgba(0, 0, 0, 0.25);
}

.red__title__activities {
    font-size: 22px;
    font-weight: bold;
    color: #791118;
}

.date {
    color: #9D9D9D;
    font-size: 13px;
}

.red__title__activities__2 {
    font-size: 15px;
    font-weight: bold;
    color: #791118;
}

.white__bg__2 {
    box-shadow: 2px 5px 14px rgba(0, 0, 0, 0.25);
    border-radius: 0 30px 30px 0;
    padding: 1rem 2rem 0 2rem;
}

.content__activities__2 {
    font-size: 13px;
}

.date__2 {
    color: #9D9D9D;
    font-size: 11px;
}

#yearbook__page {
    display: none;
}

#activities__page {
    display: block;
}

.background__grey {
    background-color: #F5F4F4;
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
}

.activity__small {
    border-radius: 30px 30px 0 0;
}

.white__bg__3 {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
    border-radius: 0 0 30px 30px;
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    padding: 1rem 1rem 1rem 1rem;
    box-sizing: border-box;
}

.red__title__activities__3 {
    font-size: 12px;
    font-weight: bold;
    color: #791118;
}

.date__3 {
    color: #9D9D9D;
    font-size: 9px;
    margin-top: auto;
}

.footer__text {
    text-align: center;
    font-size: 32px;
}

.footer__block {
    width: 100%;
    padding: 1.5rem;
    margin-top: 0 !important;
    filter: drop-shadow(0px -3px 4px rgba(0, 0, 0, 0.25));
    background-color: white;
    ;
}

p {
    margin-bottom: 1rem !important;
}

.flex-column {
    margin-bottom: 2rem !important;
}

.button {
    background-color: #791118;
    padding: 1rem 2rem;
    display: block;
    margin: 2rem auto 0 auto;
    border-radius: 90px;
}

.button a,
.button a:hover {
    color: white;
}

.activities__image__2 {
    border-radius: 30px 0 0 30px;
    box-shadow: -1px 5px 14px rgba(0, 0, 0, 0.25);
}
.yearbook__title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 4rem;
}
.yearbook__subtitle {
    font-size: 30px;
    font-weight: 600;
}
.bg__red {
    background: linear-gradient(to right, 
    rgba(121,17,24,1) 0%, 
    rgba(164,19,28,0.93) 25%, 
    rgba(209,21,33,0.97) 50%, 
    rgba(179,21,32,0.9) 75%, 
    rgba(149,22,30,1) 100%);

    width: 100%;
    height: auto;
    margin-top: 8rem;
}
.bg__purple {
    background: linear-gradient(180deg, rgba(42,24,87,0.92) 0%, rgba(137,48,142,1) 22%,  rgba(137,48,142,1) 45%,  rgba(42,24,87,0.92) 100%);
    margin-top: 7rem;
}
.profile-card {
    background-color: white; /* White background for the card */
    border-radius: 1000px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
    display: flex;
    padding: 0px;
    max-width: 450px; /* Limit the width */
    max-height: 130px;
    position: relative;
    bottom: 44px;
    box-shadow: 5px 5px 14px rgba(0,0,0,0.25);
}

/* Profile image container */
.profile-image {
    flex-shrink: 0; /* Prevent shrinking */
    width: 150px; /* Fixed width */
    height: 150px; /* Fixed height */; /* Circular shape */
    margin-right: 40px; /* Space between image and text */
    margin-bottom: 27px;
}

/* Ensure image fills the container */
.profile-image img {
    width: 112%;
    height: 124%;
    object-fit: cover; /* Make sure image fits nicely */
}

.profile-info {
    position: relative;
    bottom: 21px;
}
.full_name {
    font-size: 25px;
}
.additionl_info {
    font-size: 14px;
}
p {
    margin-bottom: 0 !important;
}
.footer__block {
    width: 100%;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-top: 8rem;
    box-shadow: 0 -3px 4px rgba(0,0,0,0.25);
    background: linear-gradient(180deg, #400606 0%, #A60F0F 100%);
    height: auto;
}
.social__text {
    color: white;
    font-size: 14px;
    margin-top: 1.8rem;
}
.img__dark {
    width: 100px;
    margin-top: 2rem;
}
.text__white {
    color: white;
    margin-top: 1rem;
    font-size: 16px;
}
.white-title {
    font-size: 20px;
    margin-top: 2rem;
    color: white;
}
p a ,p a:hover{
    color: white;
}
.text__left {
    text-align: left;
}
.margin__top {
    margin-top: 3.7rem;
}
.icon__align {
    margin-top: 1rem;
    margin-right: 1rem;
}
@media screen and (max-width: 1400px) {
    .white__bg {
        padding: 1rem 2rem 2rem 2rem;
    }

    .white__bg__2 {
        padding: 1rem 1rem 0 1rem;
    }

    .red__title__activities__2 {
        font-size: 13px;
    }

    .content__activities__2 {
        font-size: 11px;
    }

    .date__2 {
        font-size: 10px;
    }
    .profile-image {
        margin-right: 23px;
    }
}

@media screen and (max-width: 1200px) {
    .white__bg {
        padding: 1rem 2rem 0 2rem;
    }

    .red__title__activities {
        font-size: 19px;
    }
    .content__activities {
        font-size: 14px;
    }
    .red__title__activities__2 {
        font-size: 13px;
        margin-bottom: 0 !important;
    }
    .content__activities__2 {
        font-size: 9px;
    }
    .date__2 {
        margin-bottom: 0 !important;
    }
    .red__title__activities__3 {
        font-size: 11px;
    }
    .profile-image img {
        width: 89%;
        height: 145%;
        position: relative;
        left: -17px;
        top: -2px;
    }
    .profile-image {
        margin-right: -37px;
    }
    .profile-image {
        max-height: 101px;
    }
    .profile-card {
        max-height: 101px;
        max-width: 480px;
        bottom: 35px;
    }
    .full_name {
        font-size: 20px;
    }
    .additionl_info {
        font-size: 12px;
    }
}
@media screen and (max-width: 991px) {
    .activities__image__1 {
        border-radius: 30px 30px 0 0;
    }
    .white__bg {
        border-radius: 0 0 30px 30px;
    }
    .activities__image__2 {
        border-radius: 30px 30px 0 0;
    }
    .red__title__activities__2 {
        font-size: 20px;
        margin-bottom: 1rem !important;
    }
    .content__activities__2 {
        font-size: 15px;
    }
    .date__2 {
        margin-bottom: 2rem !important;
        font-size: 11px;
    }
    .white__bg__2 {
        border-radius: 0 0 30px 30px;
        margin-bottom: 2rem;
    }
    .red__title__activities__3  {
        font-size: 13px;
    }
}
@media screen and (max-width: 767px) {
    .full_name {
        font-size: 30px;
    }
    .profile-image {
        margin-right: 10px;
    }
    .additionl_info {
        font-size: 15px;
    }
    .yearbook__title {
        font-size: 28px;
    }
    .yearbook__subtitle {
        font-size: 26px;
    }  
}
@media screen and (max-width: 575px) {
    .red__title__activities__3  {
        font-size: 16px;
    }
}
@media screen and (max-width: 400px) {
    .full_name {
        font-size: 23px;
    }
}
@media screen and (max-width: 378px) {
    .white__bg {
        padding: 1rem 1rem 0 1rem;
    }
    .red__title__activities__3  {
        font-size: 14px;
    }
    .yearbook__subtitle  {
        font-size: 23px;
    }
    .yearbook__title {
        font-size: 23px;
    }
    .bg__red, .bg__purple {
        margin-top: 2rem;
    }
}