.course__title {
    font-size: 30px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.course__text {
    font-size: 16px;
    margin: 0.5rem 1rem  1rem;
}

.bottom__line {
   width: 100%;
   height: 1px;
   background-color: #D8D8D8;
   position: relative;
   bottom: 10px;
}
.course__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex__price__button, .flex__course__detail__button, .flex__register__button {
    /* flex: 1 1 auto; */
    margin: 5px 0;
    display: flex;
    justify-content: center;
}

.price__button, .course__detail__button, .register__button {
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
}

.price__button {
    background-color: #D9D9D9;
    text-align: center;
    border-radius: 50px;
    color: #791118;
    font-size: 14px;
}
.flex__course__detail__button {
    flex-basis: 190px;
}
.flex__register__button {
    flex-basis: 380px;
}
.flex__price__button {
    flex-basis: 186px;
}
.course__detail__button {
    border: 1px solid #791118;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
}
.course__detail__button a {
    color: #791118;
}
.register__button {
    background-color: #791118;
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
}
.register__button a {
    color: #fff;
} 
.line {
    width: 100%;
    height: 1px;
    background-color: #D8D8D8;
}

.footer__text {
    text-align: center;
    font-size: 32px;
}
.footer__block {
    width: 100%;
    padding: 1.5rem;
    margin-top: 8rem;
    filter: drop-shadow(0px -3px 4px rgba(0,0,0,0.25));
    background-color: white;
    margin-bottom: 0 !important;
}
@media screen and (max-width: 1399px){
    .flex__course__detail__button {
        flex-basis: 380px;
    }
    .flex__price__button {
        flex-basis: 380px;
    }
}
@media screen and (max-width: 767px){
    .flex__course__detail__button {
        flex-basis: 484px;
    }
    .flex__price__button {
        flex-basis: 484px;
    }
    .flex__register__button {
        flex-basis: 484px;
    }
    .course__title {
        font-size: 25px;
    }
}
@media screen and (max-width: 500px) {
    .course__title {
        font-size: 22px;
    }
}