.video__sharing {
    font-size: 30px;
    margin-top: 2rem;
}
#video-player {
    width: 100%;
    height: 80vh;
    border-radius: 16px;
}
.video__title {
    font-size: 23px;
    margin-top: 1rem;
}
.video__desc {
    font-size: 18px;
    margin-bottom: 3rem;
}
#play-pause-btn {
    border: none;
    background-color: transparent;
    margin-top: 2rem;
}
.video__title__small {
    font-size: 16px;
    padding: 0.3rem 0 1rem 0.5rem;
}
.banner__width {
    width: 180px;
    border-radius: 16px;
}
.margin__align__video {
    margin-top: 1rem;
    margin-left: 1.5rem;
}
.margin__align__top {
    margin-top: 1rem;
}
.footer__block {
    width: 100%;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-top: 8rem;
    box-shadow: 0 -3px 4px rgba(0,0,0,0.25);
    background: linear-gradient(180deg, #400606 0%, #A60F0F 100%);
    height: auto;
}
.social__text {
    color: white;
    font-size: 14px;
    margin-top: 1.8rem;
}
.img__dark {
    width: 100px;
    margin-top: 2rem;
}
.text__white {
    color: white;
    margin-top: 1rem;
    font-size: 16px;
}
.white-title {
    font-size: 20px;
    margin-top: 2rem;
    color: white;
}
p a ,p a:hover{
    color: white;
}
.text__left {
    text-align: left;
}
.margin__top {
    margin-top: 3.7rem;
}
.icon__align {
    margin-top: 1rem;
    margin-right: 1rem;
}
.floating-button {
    position: fixed; 
    bottom: 30px;    
    right: 30px;      
    padding: 10px 20px;
    color: white;
    background-color: #791118;   
    border: none;   
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    font-size: 25px;
}
.floating-button a, .floating-button a:hover {
  color: white;
  text-decoration: none;
}
