.bg-teacher {
    width: 100%;
    background-color: #F3F3F3 !important;
    height: auto;
}
.profess-teacher {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 8rem;
}
.background__teacher {
    border-radius: 99px !important;
    display: block;
    margin: auto;
}

  
.my-bg-container {
position: relative;
width: 1500px;           /* or a specific width */
min-height: 1000px;     /* give it some height so the background is visible */
background: url("../images/background.png") no-repeat center center;
background-size: cover; /* makes the bg image responsive (cover the container) */
border-radius: 48px;
display: block;
margin: auto;
margin-bottom: 3rem;
}

.jakkkrit {
position: absolute;
top: 50%;
left: 20%;
transform: translate(-50%, -50%);
z-index: 1;
/* any sizing you need for jakkrit.png */
height: 1000px;
}
.overlay-text {
    position: absolute; 
    top: 50%;     
    left: 56%;     
    transform: translate(-50%, -50%); 
    color: #fff;    
    margin-top: 0rem;
}
.teacher__name {
    font-size: 40px;
}
.graduated {
    font-size: 20px;
    margin-top: 2rem;
}
.align-ul {
    list-style: circle;
    position: absolute; 
    top: 53%;     
    left: 64%;     
    transform: translate(-50%, -50%); 
    color: #fff;    
    margin-top: 10rem;
    font-size: 25px;
}
.button_teacher {
    display:inline-block;
    width:180px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.dot_indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:none;
    position: relative;
    bottom: 10px;
}
.align__block__teacher__text {
    height:100%;
    width: 100%;
}